--2018-10-17 15:15:00--  https://raw.githubusercontent.com/github/gitignore/master/Node.gitignore
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.92.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.92.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1078 (1.1K) [text/plain]
Saving to: ‘Node.gitignore’

     0K .                                                     100% 28.0M=0s

2018-10-17 15:15:01 (28.0 MB/s) - ‘Node.gitignore’ saved [1078/1078]

