<h1>INTRODUÇÃO</h1>
<p class="center2">Responda as perguntas e encontre seu candidato.</p>

<p class="center2">Nessa reta final de campanha, criamos esta plataforma para te ajudar a decidir seu voto à Presidência da República de forma ágil e bem fundamentada.</p>

<p class="center2">Abaixo, dez perguntas rápidas e diretas sobre temas determinantes para os rumos do Brasil. Responda e descubra.</p>
