<div class="parallax">
  <div class="container">
    <div class="row justify-content-md-left">
<h1>Metodologia</h1>
<p class="center2 text-left">No caso das posições de candidato e usuário coincidirem, ou seja, o candidato e o usuário concordam (Sim-Sim) ou discordam (Não-Não) naquela questão, adiciona-se 1 ponto</p>

<p class="center2 text-left">Quando são divergentes (Sim-Não ou Não-Sim), ou seja, a posição do usuário e do candidato são opostas, retira-se 1 ponto.</p>

<p class="center2 text-left">Caso o usuário não se posicione sobre uma questão, respondendo com “Não Sei”, nenhum ponto será adicionado. </p>

<p class="center2 text-left">Calculamos o percentual de compatibilidade tendo como base o total dos 11 pontos disponíveis.</p>

<p class="center2 text-left">As frases foram colocadas na ordem direta e positivas visando maior clareza e coesão.</p>
<a class="btn btn-primary btn-lg" href="/" role="button"><i class="fas fa-chevron-left"></i> Voltar</a>
</div>
</div>
</div>