<div class="parallax">
  <div class="container">
    <div class="row justify-content-md-left">
        <div class="col-md-4 center" >
          <div class="hero_img">
            <a href="/"><img src="/images/logo-decida.svg" alt=""></a>
          </div>
        </div>
<h1 class='titulo-pagina text-center'>Metodologia</h1>
<p class="center2 text-left pagina-texto">No caso das posições de candidato e usuário coincidirem, ou seja, o candidato e o usuário concordam (Sim-Sim) ou discordam (Não-Não) naquela questão, adiciona-se 1 ponto</p>

<p class="center2 text-left pagina-texto">Caso o usuário não se posicione sobre uma questão, respondendo com “Não Sei”, nenhum ponto será adicionado. </p>

<p class="center2 text-left pagina-texto">Calculamos o percentual de compatibilidade tendo como base o total dos 11 pontos disponíveis.</p>

<p class="center2 text-left pagina-texto">No resultado, será apresentado aquele com o qual suas ideias são mais compatíveis ao pensar na forma e prioridades na condução do país. Ou seja, aquele candidato com quem a/o eleitor(a) possui maior concordância na resposta das perguntas, percentualmente.</p>

<p class="center2 text-left pagina-texto">As frases foram colocadas na ordem direta e positivas visando maior clareza e coesão.</p>
<a class="btn btn-primary btn-lg" href="/" role="button"><i class="fas fa-chevron-left"></i> Voltar</a>
</div>
</div>
</div>
