<img src="/images/logo-decida.svg" class="center">
<p class="center3">Decida seu voto aqui com a gente!, nao vote na bestia.</p>
<p class="center2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="flag-background">
      <div class="jumbotron text-center">
          <img src="{{result.candidato.image}}" class="candidate">
      </div>
    </div>
      <h1 class="display-4">Tu resultado: {{result.candidato.name}}</h1>
      <p class="lead">{{#round result.percentage}}{{/round}}%</p>
      <a class="btn btn-primary btn-lg" href="/" role="button">Voltar</a>
  </div>
</div>
