<div class="jumbotron text-center">
    <img src="{{result.candidato.image}}">
  <h1 class="display-4">{{result.candidato.name}}</h1>
  <p class="lead">{{#round result.percentage}}{{/round}}%</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="/" role="button">Voltar</a>
</div>
