.candidate-result{
  background-color: transparent;
}

.flag-background{
  background-image: url("/images/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  max-height: 334px;
}

.jumbotron{
  background: transparent;
  padding: 3rem 6rem;
}

.candidate{
  max-width: 35%;
}

.display-4{
  font-size: 2rem;
  font-weight: 700;
}
.percentage{
  color: #bfc944;
  font-weight: 700;
  margin: 5px 0 50px;
  font-size: 2rem;
}

@media (max-width: 1199px) {
  .candidate{
    max-width: 36%;
  }
  .jumbotron{
    padding: 2.5rem 5.6rem;
  }
}

@media (max-width: 991px) {
  .candidate{
    max-width: 36%;
  }
  .jumbotron{
    padding: 1.5rem 3.4rem;
  }
}

@media (max-width: 500px) {
  .candidate{
    max-width: 40%;
  }
  .jumbotron{
    padding: 1rem 3.1rem;
  }
}

@media (max-width: 450px) {
  .candidate{
    max-width: 45%;
  }
  .jumbotron{
    padding: 0.7rem 2.9rem;
  }
}
