body {

  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #222;
  text-align: center;
  background-color: #fff;
  padding: 100px;
}

a {
  color: #00B7FF;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 350px;

}

p {
  margin-top: 30px;
  margin-bottom: 30px;
}
